body{
  background: #fff;
  color: #000;
}

#app{
	width: 70%;
	height: 600px;

	.product{
		margin: auto;

		.product-image{
			float: left;
			width: 30%;

			img{
				width: 400px;
				height: 400px;
				border: 1px solid #666;
			}
		}
		.product-info{
			float: right;
			width: 40%;

			.cart{
				display: flex;
				margin-top: 30px;
				border:1px solid #666;
				padding: 5px;
				font-size: 20px;
				font-weight: bold;

				button{
					margin-right: 10px;
					background:lighten(#15a96b, 20%);
					cursor: pointer;
				}

				.disabledButton{
					background:gray;
					color: #333;
				}
			}

			.color-box{
				width: 40px;
				height: 40px;
				margin-top: 10px;
			}

			.textDecoration{
				text-decoration: line-through;
			}
		}
	}
}